@font-face {
    font-family: "TT Lakes";
    font-style: normal;
    font-weight: 500;
    src: 
         url("../font/TTLakes-Medium.woff") format("woff"),
         url("../font/TTLakes-Medium.woff2") format("woff2");
}

.div-main {
    height: 507px;
}

.header {
    margin: 0 auto;
    padding-left: 2%;
    flex-flow: column wrap;
    justify-content: center;
    background: white;
}

.header__link, .header__span {
    margin-top: 2%;
}

.header__link-adaptive-s {
    flex: 1 1 100px;
}

.header__link-position-adaptive-left-s {
    align-self: flex-start;
}

.header__link-position-adaptive-right-s {
    align-self: flex-end; 
}

.header :nth-child(3) {
    margin-right: 100px;
}

.header :nth-child(4) {
    margin-left: 100px;
}

.nav__ul{
    width: 768px;
}
  
.section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.section__div-box {
    flex: 1 1 100%;;
}

.section__p+p {
    display: block;
}

.section__span {
    margin: 0;
    margin-left: 14%;
}

.section__div-background-image {
    flex: 2 0 360px;
    margin-right: 20px;
    width: 360px;
    height: 208px;
    height: 176px;
    background-image: url(../img/CPS_s.jpg);
    border-radius: 6px;
}

.hidden {
    display: block ;
}

.nav{
    margin-bottom: 20px;
}

.main_button {
    display: none;
}

.section__p.section__p-hidden-s {
    display: none;
}


